<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJFaR7rUJmQ_mZJ9oIAkuOZUbjvqfjSR4</string>
	<key>GCM_SENDER_ID</key>
	<string>774577968923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.enjoyce</string>
	<key>PROJECT_ID</key>
	<string>enjoyce-86d17</string>
	<key>STORAGE_BUCKET</key>
	<string>enjoyce-86d17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774577968923:ios:76f4a6b601401dfaaba5be</string>
</dict>
</plist>